@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Roboto+Condensed:ital,wght@0,400;0,700;1,700&display=swap');

.block {
    display: flex;
}

.vtmn-navbar {
    display: flex;
    width: 100%;
}

.navbar_logo {
    padding: 0 5px;
}

navbar_left-navigation {
    padding: 0 5px;
}

.navbar_middle-area {
    padding: 0 5px;
    flex: max-content;
}

navbar_right-navigation {
    padding: 0 5px;
}

.vtmx-firstname {
    font-family: Roboto, sans-serif;
}
.app {
    width: 100%;
}

.content {
    width: 100%;
    height: 100%;
}

.action-cards {
    position: relative;
    width: 100%;
    height: 250px;
}

.rank-screen {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
